@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklck(0.6521 0.1858 18.19);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.269 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.371 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(50.5% 0.213 27.518);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
}

@theme {
	--font-family: "Poppins", Helvetica, sans-serif;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);

	--animate-rippling: rippling 500ms ease-out;
	@keyframes rippling {
		0% {
			opacity: 1;
		}
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}
}

body {
	background: var(--background);
	color: var(--primary);
	font-family: var(--font-family);
}

@layer utilities {
	:root {
		--scrollbar-color: rgba(0, 0, 0, 0.3);
	}

	.dark {
		--scrollbar-color: rgba(255, 255, 255, 0.3);
	}

	* {
		-webkit-tap-highlight-color: transparent;
		scrollbar-color: var(--scrollbar-color) transparent;
		scrollbar-width: thin;
	}
}

@layer components {
	.tiptap {
		@apply focus:border-none focus:ring-0 focus:outline-none;
		> *:first-child {
			@apply mt-0;
		}
		ol {
			@apply my-5 ml-6 list-decimal px-4;
		}
		ul {
			@apply my-5 ml-6 list-disc px-4;
		}
		li p {
			@apply mt-1 mb-1;
		}
		h1 {
			@apply mb-6 text-[1.4rem] leading-[1.1];
		}
		h2 {
			@apply mb-6 text-[1.2rem] leading-[1.1];
		}
		h3 {
			@apply text-[1.1rem] leading-[1.1];
		}
		h4,
		h5,
		h6 {
			@apply text-[1rem] leading-[1.1];
		}
		code {
			@apply rounded-md bg-purple-200 px-1 py-0.5 text-[0.85rem] text-black;
		}
		pre {
			@apply my-6 rounded-lg bg-black px-4 py-3 font-mono text-white;
		}
		pre code {
			@apply bg-transparent p-0 text-[0.8rem] text-inherit;
		}
		blockquote {
			@apply my-6 border-l-4 border-gray-300 pl-4;
		}
		hr {
			@apply my-8 border-t border-gray-200;
		}
	}
}
