@import "tailwindcss";

:root {
	--background: oklch(0.95 0 247);
	--foreground: oklch(0.9 0 247);
	--muted: oklch(0.7077 0 247);
	--primary: oklch(0.34 0 0);

	--inverse: oklch(0.95 0 247);
	--success: oklch(69.6 0.17 162.48);
	--success-foreground: oklch(59.6% 0.145 163.225);
	--destructive: oklck(0.6521 0.1858 18.19);
	--destructive-foreground: oklck(0.6521 0.1858 18.19);

	/* --card: oklck(0 0 100);
	--card-foreground: oklck(224 71.4 4.1);
	--popover: oklck(0 0 100);
	--popover-foreground: oklck(224 71.4 4.1);
	--primary: oklck(220.9 39.3 11);
	--primary-foreground: oklck(210 20 98);
	--secondary: oklck(220 14.3 95.9);
	--secondary-foreground: oklck(220.9 39.3 11);
	--muted: oklck(220 14.3 95.9);
	--muted-foreground: oklck(220 8.9 46.1);
	--accent: oklck(220 14.3 95.9);
	--accent-foreground: oklck(220.9 39.3 11);
	--border: oklck(220 13 91);
	--input: oklck(220 13 91);
	--ring: oklck(220 13 70.8);
	--chart-1: oklck(12 76 61);
	--chart-2: oklck(173 58 39);
	--chart-3: oklck(197 37 24);
	--chart-4: oklck(43 74 66);
	--chart-5: oklck(27 87 67);
	--sidebar: oklck(210 20 98.5);
	--sidebar-foreground: oklck(224 71.4 4.1);
	--sidebar-primary: oklck(220.9 39.3 11);
	--sidebar-primary-foreground: oklck(210 20 98);
	--sidebar-accent: oklck(220 14.3 95.9);
	--sidebar-accent-foreground: oklck(220.9 39.3 11);
	--sidebar-border: oklck(220 13 91);
	--sidebar-ring: oklck(220 13 70.8); */
}

.dark {
	--background: oklch(0.1448 0 0);
	--foreground: oklch(0.2046 0 0);

	--inverse: oklch(14.48% 0 0);
	--primary: oklch(0.82 0 0);
	--primary-foreground: oklch(0.95 0 247);
	--secondary: oklch(28.9% 0 0);
	--secondary-foreground: oklch(26.9% 0 0);
	--muted: oklch(26.76% 0 0);
	--muted-foreground: oklch(26.3% 0 0);
	--success: oklch(50.8% 0.118 165.612);
	--success-foreground: oklch(43.2% 0.095 166.913);
	--destructive: oklch(50.5% 0.213 27.518);
	--destructive-foreground: oklch(44.4% 0.177 26.899);

	/* --card: oklck(0 0 100);
	--card-foreground: oklck(224 71.4 4.1);
	--popover: oklck(0 0 100);
	--popover-foreground: oklck(224 71.4 4.1);
	--primary: oklck(220.9 39.3 11);
	--primary-foreground: oklck(210 20 98);
	--accent: oklck(220 14.3 95.9);
	--accent-foreground: oklck(220.9 39.3 11);
	--border: oklck(220 13 91);
	--input: oklck(220 13 91);
	--ring: oklck(220 13 70.8);
	--chart-1: oklck(12 76 61);
	--chart-2: oklck(173 58 39);
	--chart-3: oklck(197 37 24);
	--chart-4: oklck(43 74 66);
	--chart-5: oklck(27 87 67);
	--sidebar: oklck(210 20 98.5);
	--sidebar-foreground: oklck(224 71.4 4.1);
	--sidebar-primary: oklck(220.9 39.3 11);
	--sidebar-primary-foreground: oklck(210 20 98);
	--sidebar-accent: oklck(220 14.3 95.9);
	--sidebar-accent-foreground: oklck(220.9 39.3 11);
	--sidebar-border: oklck(220 13 91);
	--sidebar-ring: oklck(220 13 70.8); */
}

@theme {
	--font-family: "Poppins", Helvetica, sans-serif;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);

	--color-inverse: var(--inverse);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
}

body {
	background: var(--background);
	color: var(--primary);
	font-family: var(--font-family);
}

@layer utilities {
	:root {
		--scrollbar-color: rgba(0, 0, 0, 0.3);
	}

	.dark {
		--scrollbar-color: rgba(255, 255, 255, 0.3);
	}

	* {
		-webkit-tap-highlight-color: transparent;
		scrollbar-color: var(--scrollbar-color) transparent;
		scrollbar-width: thin;
	}
}
